*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    background-image: url("https://images7.alphacoders.com/509/thumb-1920-509783.jpg");
    background-position: center;
    background-repeat: none;
    background-size: auto;
}
.container{
    width: 350px;
    margin: 2% auto;
    color: rgba(0, 255, 255, 0.89);
    height: 300px;
    padding: 2% 2%;
    background-color: rgba(0, 0, 0, 0.479);
    text-align: center;
    
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 2% auto;
}
.buttons button{
    width: 40%;
    margin: 0 0 0 2%;
    
}
.cards{
    background-color: rgba(0, 0, 0, 0.479);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sortedCards{
    background-color: rgba(254, 0, 0, 0.491);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all showSortedCards 2s;
}
.selectionSort{
    background-color: rgba(21, 254, 0, 0.491);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all showSortedCards 2s;
}
.card{
    background-color: white;
    width: 27%;
    height: 520px;
    margin: 2% auto;
    border-radius: 10px;
}
.top, .body, .bottom{
    font-size: 2em;
}
.top, .bottom{
    padding: 3%;
    color: red;
}
.body{
    margin-top: 20%;
    margin-left: 43%;
}
.bottom{
    color: red;
    margin-top: 19%;
    float: right;
    rotate: 180deg;
}
@keyframes showSortedCards{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}